<div class="container">
	<h1>Current Logged In ID: <%= session[:id] %></h1><form action="/users/logout" method="post">
		<input type="submit" value="Log Out">
	</form>
	<h2>Status ID <%= @status.id %></h2>
	<h3>Status</h3>
	<p><%= @status.status %></p>
		<% if @checklike.nil?  %>
		<form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/like" method="post">
    	<input type="submit" value="LIKE">
		</form>
		<% else %>
		<form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/unlike" method="post">
			<input name="_method" type="hidden" value="delete">
    	<input type="submit" value="UNLIKE">
		</form>	
		<% end %>
		<% if @status.user.id == session[:id] %>
			<form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/edit">
	    	<input type="submit" value="Edit Status">
			</form>
			<form action= "/users/<%= @user.id%>/statuses/<%= @status.id %>" method= "post">
		    <input name="_method" type="hidden" value="delete">
		    <input type= "submit" value="Delete Status">
		  </form>
	  <% end %>
	  <p>Total Likes: <%= @like %></p>
  <h3>All Comments</h3>
		<% @comments.order("id ASC").each do |comment| %>
	<li>
		<%= comment.comment %><br><br>
		<% if comment.user_id == session[:id] %>
	  <form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/comments/<%= comment.id %>/edit">
    	<input type="submit" value="Edit Comment">
		</form>
	  <form action= "/users/<%= @user.id%>/statuses/<%= @status.id %>/comments/<%= comment.id %>" method= "post">
	    <input name="_method" type="hidden" value="delete">
	    <input type= "submit" value="Delete"><br><br>
	  </form>
	  <% end %>
	</li>
	<% end %>
	<h3>Create Comment</h3>
	<form action="/users/<%= @user.id %>/statuses/<%= @status.id %>/comments/create" method="post">
	<textarea type="text" name="comment" cols="70"></textarea><br/><br/>
	<input type="submit" value="Submit">
</form>
</div>